doctype html
head
  meta(charset="utf-8")
  link(href='assets/style/css/style.css', rel='stylesheet')
  title Domenico Antonino Flauto
body
  .header
  .sfumatura
  //- .gradient
  .testo
    .hello
      h1 Hello
      p 
        |I’m Domenico Flauto,<br>
        |UI/UX designer and front end developer<br>
        |based in London, made in Italy.<br>
        |Omnivorous and coffee addicted.
      
