doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  link(href='assets/style/css/style.css', rel='stylesheet')
  link(href='assets/style/css/fontastic.css', rel='stylesheet')
  //- link(href='assets/js/script.js', rel='text/javascript')
  title Domenico Antonino Flauto
  script(src="assets/js/script.js")
    
body
  .header
  .sfumatura
  //- .gradient
  .testo
    .hello
      h1 Hello
      p 
        |I’m Domenico Flauto,<br>
        |UI/UX designer and front end developer<br>
        |based in London, made in Italy.<br>
        |Omnivorous and coffee addicted.
      //- i.icon.icon-book 
      //- span Read more
      br
      .acc
        input#toggle(type='checkbox', checked=false)
        label(for='toggle')
          i.icon.icon-book 
          | Read
        #expand
          section
            p
            | I was born in sunny Sicily 27 years ago and I created my very first website when I was 8, while my mates were playing with Fifa ’98. I studied IT and web development at high school, but my life totally changed when I bumped into design.
            br
            br
            | I started to study graphic design independently during my education path in industrial design and I’ve been student's tutor at Visual Communication Laboratory for 3 years.
            br
            | This boosted my visual and graphic skills by far.
            br
            | I wrote a thesis named "Smart mobility for Palermo" doing  a whole project of graphic, product and interaction design and I earned a BA in industrial design achieving 110 out of 110 with Honours.
            br
            br
            | I moved to London in September 2014.
            br
            | I am currently working part time in a pub (to pay my bills) as well as I'm doing freelancing in visual, web, UI/UX design stuff.
        
