@font-face {
  font-family: 'iA Writer Quattro';
  src: url("assets/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"), url("assets/fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-size: 1em;
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-family: 'iA Writer Quattro', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

a {
  color: inherit;
  text-decoration: underline;
}

strong {
  /* cursor: pointer; */
}

strong:hover {
  /* text-decoration: underline; */
}

main {
  margin: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 600px;
}

p {
    width: 100%;
    margin-block: 24px;
}

h1.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 300;
  margin-block: 0;
  color: #24292F;
  line-height: 150%;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.social a svg path {
  /* fill: #ccc; */
  -webkit-transition: fill .25s ease-in-out;
  transition: fill .25s ease-in-out;
}

.social a {
  position: relative;
}

.social a:hover::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: -1;
  background-color: #f1f1f1;
  border-radius: 4px;
  top: -6px;
  left: -6px;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.social a:hover svg#twitter path {
  fill: #1D9BF0;
}

.social a:hover svg#linkedin path {
  fill: #006699;
}

.social a:hover svg#github path {
  fill: #24292F;
}

.social a:hover svg#threads path {
  fill: #111111;
}

svg#threads {
  width: 16px;
  height: 16px;
}

svg#threads path {
  fill: #ccc;
}