:root {
  --blue-900: #040D25;
  --blue-800: #081A49;
  --blue-700: #0C266E;
  --blue-600: #103393;
  --blue-500: #1440B8;
  --blue-400: #3565E9;
  --blue-300: #5A81ED;
  --blue-200: #A3B9F5;
  --blue-100: #C8D5F9;

  --grey-100: #F4F4F6;
  --grey-200: #DEDFE3;
  --grey-300: #C8CAD0;
  --grey-400: #B2B5BD;
  --grey-500: #9CA0AA;
  --grey-600: #717684;
  --grey-700: #5E626E;
  --grey-800: #4B4E58;
  --grey-900: #383B42;

  --white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Dark mode */ 
/* :root {
  --bg-color: var(--blue-900);
  --text-color-1: var(--grey-100);
  --text-color-2: var(--grey-300);
} */

:root {
  --bg-color: var(--white);
  --text-color-1: var(--grey-900);
  --text-color-2: var(--grey-800);
  --text-color-3: var(--grey-600);
  --text-color-4: var(--grey-500);
  --text-color-5: var(--grey-400);
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  scroll-padding-top: 64px;
}

body {
  background-color: var(--bg-color);
  min-height: 100vmin;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: var(--text-color-2);
  text-decoration: underline;
}

a:hover {
  color: var(--text-color-1);
}

strong {
  font-weight: 600;
  color: var(--text-color-3)
}

section.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 80dvh;
  width: calc(100% - 128px);
  transform-origin: 50% 50%;
  /* background: #040D2510; */
}

@media screen and (min-width: 1328px) {
  section.container, header.header {
    width: 1200px
  }
}

@media screen and (min-width: 801px) and (max-width: 1327px) {
  header.header {
    width: calc(100% - 128px);
  }
}

@media screen and (max-width: 800px) {
  section.container, header.header {
    width: calc(800px - 128px);
  }
}

@media screen and (max-width: 738px) {
  section.container, header.header {
    width: calc(100% - 64px);
  }
}

@media screen and (max-width: 480px) {
  section.container, header.header {
    width: calc(100% - 32px);
  }
  .intro {
    width: 100%;
  }
}

p {
    width: 100%;
    color: var(--text-color-2);
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
}

h1.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  margin-block: 0;
  color: var(--text-color-1);
  line-height: 150%;
}

h2.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 400;
  margin-block: 0;
  color: var(--text-color-1);
  line-height: 150%;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  color: var(--text-color-2);
}

.header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.header a {
  text-decoration: none;
}

footer.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 12px;;
  color: var(--text-color-3);
}

.footer span {
    display: inline-flex;
    position: relative;
    top: 1.5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 150%;
}

.footer svg {
  margin-inline: 4px;
  position: relative;
  top: 2px;
}

.footer svg path {
  fill: var(--grey-400);
}