@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-900: #040D25;
  --blue-800: #081A49;
  --blue-700: #0C266E;
  --blue-600: #103393;
  --blue-500: #1440B8;
  --blue-400: #3565E9;
  --blue-300: #5A81ED;
  --blue-200: #A3B9F5;
  --blue-100: #C8D5F9;

  --grey-100: #F4F4F6;
  --grey-200: #DEDFE3;
  --grey-300: #C8CAD0;
  --grey-400: #B2B5BD;
  --grey-500: #9CA0AA;
  --grey-600: #717684;
  --grey-700: #5E626E;
  --grey-800: #4B4E58;
  --grey-900: #383B42;

  --white: #FFFFFF;

  --bg-color: var(--white);
  --text-color-1: var(--grey-900);
  --text-color-2: var(--grey-800);
  --text-color-3: var(--grey-600);
  --text-color-4: var(--grey-500);
  --text-color-5: var(--grey-400);

  --space-lg: 128px;
  --space-md: 64px;
  --space-sm: 32px;
  --space-xs: 16px;

  --color-base-1: #EAE7D6;
  --color-base-2: #E2E0D0;
  --color-sharp: #090A0B;
  --color-soft: #3A3E42;
  --color-border-1: #DDD;
  --color-border-2: #CCC;
  --color-logo: #090A0B;
}

[data-theme='dark'] {
  --color-logo: #EAE7D6;
  --color-base-1: #090A0B;
  --color-base-2: #121314;
  --color-sharp: #F6F6F6;
  --color-soft: #B6B1B6;
  --color-border-1: #222;
  --color-border-2: #333;
}

html {
  font-family: var(--font-inter)
}

body {
  transition-property: background-color;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}