.acc input {
  display: none;
  visibility: hidden;
}
.acc label {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
  color: $helloparagraph;
}
.acc label:hover {
  color: #fff;
}

.acc label::after {
  content: " more";
}

.acc section{
  font-weight: 300;
}

// .acc label::before {
//   font-size: 1.05rem;
//   font-weight: 300;
//   content: "+";
//   vertical-align: text-top;
//   display: inline-block;
//   width: 20px;
//   height: 20px;
// }
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: $helloparagraph;
}

#toggle:checked ~ #expand {
  height: 500px;
}
// #toggle:checked ~ label::before {
//   content: "-";
// }

#toggle:checked ~ label::after {
  content: " less";
}
