
.header {
  background: linear-gradient(
    90deg,
    var(--color-base-1) 0%,
    var(--color-base-2) 15%,
    var(--color-base-2) 85%,
    var(--color-base-1) 100%
    );
    opacity: 0.8;
  backdrop-filter: blur(2px);
}

.borderGradient {
  height: 1px;
  background: linear-gradient(
    90deg, 
    var(--color-base-1) 0%,
    var(--color-border-1) 15%,
    var(--color-border-1) 85%,
    var(--color-base-1) 100%
    );
}
