

.header {
  background: linear-gradient(90deg, rgba(9, 10, 11, 0.80) 0%, rgba(17, 18, 19, 0.80) 15%, rgba(17, 18, 19, 0.80) 85%, rgba(9, 10, 11, 0.00) 100%);
  backdrop-filter: blur(2px);
}

.borderGradient {
  height: 1px;
  background: linear-gradient(90deg, #090A0B 0%, #222 15%, #222 85%, #090A0B 100%);
}