.intro {
    width: 100%;
    max-width: 496px;
    position: relative;
  }

  .intro p {
    margin-block: 24px;
  }

  .dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: #16D66E;
    border-radius: 50%;
    position: relative;
  }
  
  .dot:before {
    content: "";
    width: inherit;
    height: inherit;
    border: 5px solid #16D66E;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
    animation-delay: 1s;
  }
  
  .blob {
    /* filter: blur(40px); */
    /* opacity: 0.6; */
    position: absolute;
    top: -80px;
    left: 60px;
    pointer-events: none;
    z-index: -5;
    /* border: 1px solid red; */
    /* transform: scale(20); */
  }
  
  .profile-picture {
    pointer-events: none;
    border-radius: 8px;
    flex-shrink: 0;
    mix-blend-mode: multiply;
  }
  
  @keyframes expand {
    1% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    66% {
      width: 300%;
      height: 300%;
      opacity: 0;
      border-color: #16D66E;
      background-color: none;
      border-width: 2px;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 0;
      background-color: none;
      border-color: transparent;
    }
  }

  .wrapped-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    overflow: visible;
    font-weight: 500;
  }
  