.intro {
    width: 100%;
    max-width: 496px;
    position: relative;
  }

.intro .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.intro .profile-picture {
  pointer-events: none;
  border-radius: 8px;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}

.intro p {
  margin-block: 24px;
}

.unbreakable {
  position: relative;
  top: 1.5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 150%;
}

.unbreakable img {
  margin-inline-end: 4px;
}

.dot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #16D66E;
  border-radius: 50%;
  position: relative;
  margin-inline: 4px;
}

.dot:before {
  content: "";
  width: inherit;
  height: inherit;
  border: 5px solid #16D66E;
  border-radius: inherit;
  position: absolute;
  z-index: -10;
  opacity: 0;
  animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
  animation-delay: 1s;
}

.blob {
  position: absolute;
  top: calc(50% - 110px);
  right: calc(33% - 110px);
  pointer-events: none;
  z-index: -5;
  background: conic-gradient(from 180deg at 50% 50%, #CCEFE9 0deg, #89CFC2 120.07deg, #89CFC2 179.52deg, #FFDE9E 241.65deg, #FFDE9E 299.6deg, #FFDE9E 360deg);
  border-radius: 50%;
  font-size: 220px;
  height: 1em;
  width: 1em;
  filter: blur(48px);
}

@keyframes expand {
  1% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  66% {
    width: 300%;
    height: 300%;
    opacity: 0;
    border-color: #16D66E;
    background-color: none;
    border-width: 2px;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: none;
    border-color: transparent;
  }
}
