.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  width: 100%;
  color: var(--text-color-3);
}

.footerContent {
  display: flex;
  width: 100%;
}

.footer span {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 150%;
}

.footer svg {
  margin-inline: 4px;
  position: relative;
  top: 2px;
}

.footer svg path {
  fill: var(--grey-400);
}

hr.separationLine {
  width: 100%;
  height: 1px;
  background: var(--grey-400);
  border: none;
  margin-block: 32px;
}


@media screen and (min-width: 739px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 738px) {
  .footerContent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
