.work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
    width: 100%;
    padding-bottom: 240px;
}

.work-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.projects, .articles, .patents {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.work-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.work-item img {
    max-width: 584px;
    min-width: 260px;
}

.work p, h2 {
    margin: 0;
}

.work-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 496px;
}

.item-link {
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    color: var(--color-text-2);
}

.item-link svg {
    height: 20px;
    position: relative;
    top: 4px;
    margin-inline-end: 4px;
}

span.item-link {
    color: var(--text-color-2);   
}

.item-link svg path {
    fill: var(--text-color-4);
}

a.item-link:hover svg path {
    fill: var(--text-color-1);
}

/* 800px - 1327px */
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .work-item h2 {
        font-size: 2.5vw
    }
    .work-item p, .work-item span {
        font-size: 14px;
    }
    .item-link svg {
        height: 14px;
    }
}

/* <1327px */
@media screen and (max-width: 1327px) {
    .projects, .articles, .patents {
        gap: 80px;
    }
}

/* <800px */
@media screen and (max-width: 800px) {
    .work-item img {
        max-width: 100%;
    }
    
    .work-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
    }
}

/* <480px */
@media screen and (max-width: 480px) {
    .work-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
}
