.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
  }
  
  .social a svg path {
    -webkit-transition: fill .25s ease-in-out;
    transition: fill .25s ease-in-out;
  }
  
  .social a {
    position: relative;
  }
  
  .social a:hover::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: -1;
    background-color: var(--grey-200);
    border-radius: 4px;
    top: -6px;
    left: -6px;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
  }
  
  .social a svg path {
    fill: var(--text-color-2);
  }
  
  .social a:hover svg#twitter path {
    fill: #1D9BF0;
  }
  
  .social a:hover svg#linkedin path {
    fill: #006699;
  }
  
  .social a:hover svg#github path {
    fill: #24292F;
  }
  
  .social a:hover svg#threads path {
    fill: #111111;
  }
  
  .social a:hover svg#twitterx path {
    fill: #111111;
  }
  